#shop{
    // float:right;
    display: flex;
    align-items: center;
    color: grey;     
      padding-left: 5rem;

      & p{  
      display:flex;
       width: 70%;  
       
         }
  
    & .imgBg { 
      max-width:70%;
      min-width: 50%;
      padding: 3rem;
      padding-right: 5rem;
      filter:drop-shadow(50px -25px 0px wheat);
      }
}
